
.box__content {
    background-color: var(--grey);
    border-radius: 11px;
    margin-top: 5px;
    padding: 25px 15px 15px 15px;
  }
  
  .head__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    border-radius: 10px;
    background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
  }
  
  .head__box h3 {
    font-size: 17px;
    color: white;
    font-weight: bold;
  }
  
  .head__box .buttons {
    display: flex;
  }
  
  .btn {
    margin: 0 10px;
    padding: 9px 16px;
    outline: none;
    border: none;
    border: 5px;
    border-radius: 6px;
    color: var(--grey);
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .btn__black {
    background-image: linear-gradient(
      110.3deg,
      rgba(73, 93, 109, 1) 4.3%,
      rgba(49, 55, 82, 1) 96.7%
    );
  }

  .head__box {
    border-radius: 10px;
    background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
  }
  
  .head__box h3 {
    font-size: 17px;
    color: white;
    font-weight: bold;
  }
  
  .head_new {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    width: 100%;
    margin-top: 30px;
    gap: 5px;
    text-align: center;
    border-bottom: 2px solid var(--blue);
  }
  .head_new span {
    font-size: 13px;
    text-align: center;
    color: var(--dark-grey);
    font-weight: bold;
    padding-bottom: 5px;
    width: 100%;
    color: var(--dark-grey);
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .content_new {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    margin: 15px 0;
    gap: 0 5px;
    text-align: center;
    padding: 5px 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    align-items: center;
  }
  
  .content_new span {
    font-size: 15px;
    text-align: center;
    color: var(--red);
    width: 100%;
    color: var(--dark-grey);
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 400;
  }
    
  .editBtn {
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: right;
  }
  .editBtn:hover {
    background-color: #d0e4ff;
  }
  .loading__tb {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }